{% extends 'base.html.twig' %}

{% block body %}
	<h1>Hello World</h1>
	{% if app.token.user.username is defined %}
		<p>Welcome {{ app.token.user.username }}</p>
		{% set switchTo = app.token.user.username == 'udaykrpanditwd@gmail.com'?'uday@another.test':'udaykrpanditwd@gmail.com' %}
		<p>{{ app.session.get('onlogin-notice') | default('<span style="color: red">ON-LOGIN event was not triggered.</span>') |raw}}</p>

		<p>{{ app.session.get('onswitch-user-notice') | default('<span style="color: red">ON-SWITCH-USER event was not triggered.</span>') |raw}}</p>
		
		<p><a href="{{ path('app_logout') }}">Click to Logout</a> OR <a href="?_switch_user={{ switchTo }}">Switch to '{{ switchTo }}'</a></p>

	{% else %}
		<p><b>{{ app.session.get('onlogout-notice') | default('<span style="color: red">ON-LOGOUT event was not triggered.</span>') |raw}}</b></p>
		<p><a href="{{ path('app_login') }}">Login</a> to use the application</p>
	{% endif %}
{% endblock %}
